/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/clockwork/
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

/public/uploads/

/resources/views/admin/gallery
/resources/views/admin/tags
/resources/views/admin/contact

/resources/views/profile

/resources/views/components/*

!/resources/views/components/application-logo.blade.php
!/resources/views/components/input-label.blade.php
!/resources/views/components/input-error.blade.php
!/resources/views/components/primary-button.blade.php
!/resources/views/components/text-input.blade.php

/app/Http/Controllers/Auth/*

!/app/Http/Controllers/Auth/AuthenticatedSessionController.php
!/app/Http/Controllers/Auth/RegisteredUserController.php